#Python Basics - Practical Solutions

In [ ]:
# 1. Write a Python program to print "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
# 2. Write a Python progrma that displays your name and age.
name = "Salveer Singh Pahade"
age = 39
print("My name is:", name)
print("My age is:", age)

My name is: Salveer Singh Pahade
My age is: 39

In [ ]:
# 3. Write code to print all the pre-defined keywords in Python using the keyword library.
import keyword
print("python keywords:")
for kw in keyword.kwlist:
  print(kw)

python keywords:
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [2]:
# 4. Write a program that checks if a given word is a Python keyword.
import keyword
word = input("Enter a word: ")
if keyword.iskeyword(word):
  print(word, "is a Python keyword.")
else:
  print(word, "is not a Python keyword.")

Enter a word: class
class is a Python keyword.

In [7]:
# 5. Create a list and tuple in Python, and demonstrate how attempting to change and element works differently for each.
my_list = [1, 2, 3, 4, 5]
my_list[0] = 10
print("Modified list:", my_list)

my_tuple = (1, 2, 3, 4, 5)
my_tuple[0] = 10
print("Modified tuple:", my_tuple)

Modified list: [10, 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [15]:
# 6. Write a function to demonstrate the behavior of mutable and immutable arguments.
def demo():
  a = 5
  a = a+10
  print(("a=" + str(a)))

a = 20
print("value of a=" + str(a))
demo()
print("value of a =" + str(a))

value of a=20
a=15
value of a =20

In [17]:
# 7. Write a program that performs basic arithmetic operations on two user-input numbers.
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
sum = float(num1) + float(num2)
print(f"sum: {num1} + {num2} = {sum} ")

Enter first number: 27
Enter second number: 2.7
sum: 27 + 2.7 = 29.7

In [18]:
# 8. Write a Python program to demonstrate the use of logical operators.
age = 20
if age >= 18 and age <= 60:
  print("You are eligible to work.")
else:
  print("You are not eligible to work.")

You are eligible to work.

In [19]:
# 9. Write a Python program to convert user input from string to integer, float, and boolean types.
# string to integer
a = "2"
print(type (a))
print(type (int (a)))

<class 'str'>
<class 'int'>

In [22]:
# float to integer
a = 2.3
float_value = int(a)
type(float_value)

int

In [30]:
#integer to float
b = 3
a = float(b)
type(a)

float

In [31]:
#string to float
a ="2.3"
b = float(a)
type(b)

float

In [38]:
# 10. Write code to demonstrate type casting with list elements.
str_list = ["10", "20", "30", "40", "50"]
print("Original list (string):",str_list)

#Convert all elements to integers
int_list = [int(x) for x in str_list]
print("List after casting to integers:", int_list)

#Convert all elements to floats
float_list = [float(x) for x in str_list]
print("List after casting to floats:", float_list)

#Convert numbers back to strings
str_list = [str(x) for x in int_list]
print("List after casting back to strings:", str_list)

# Convert integers to booleans (0 -> False, non-zero -> True)
bool_list = [bool(x) for x in int_list]
print("List after casting integers to booleans:", bool_list)

Original list (string): ['10', '20', '30', '40', '50']
List after casting to integers: [10, 20, 30, 40, 50]
List after casting to floats: [10.0, 20.0, 30.0, 40.0, 50.0]
List after casting back to strings: ['10', '20', '30', '40', '50']
List after casting integers to booleans: [True, True, True, True, True]

In [40]:
# 11. Write a program that checks if a number is positive, negative or zero.
num = float(input("Enter a number: "))
if num > 0:
  print("The number is positive.")
elif num < 0:
  print("The number is negative.")
else:
  print("The number is zero.")

Enter a number: -3
The number is negative.

In [45]:
# 12. Write a for loop to print numbers from 1 to 10.
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [47]:
# 13. Write a Python program to find the sum of all even numbers from 1 and 50.
total = 0
for i in range(1, 51):
  if i % 2 == 0:
    total += i #
print("The sum of all even numbers from 1 to 50 is:", total) # Moved print outside the loop

The sum of all even numbers from 1 to 50 is: 650

In [48]:
# 14. Write a program to reverse a string using a while loop.
user_input = input("Enter a string to reverse: ")
reversed_string = ""
index = len(user_input) - 1
while index >= 0:
  reversed_string += user_input[index]
  index -= 1
print("Reversed string:", reversed_string)

Enter a string to reverse: Salveer
Reversed string: reevlaS

In [52]:
# 15. Write a Python progam to calculate the factorial of a number provided by the user suing a while loop.
num = int(input("Enter a non negative integer:"))
if num < 0:
  print("Factorial is not defined for negative numbers.")
else:
  factorial = 1
  while num > 0:
    factorial *= num
    num -= 1
    print(f"The facrotial of {num}is: {factorial}")

Enter a non negative integer:5
The facrotial of 4is: 5
The facrotial of 3is: 20
The facrotial of 2is: 60
The facrotial of 1is: 120
The facrotial of 0is: 120